/*============fbCalendar Stylesheet=========== */
html, body { 
	font-family:arial; 
	font-size:13px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#wrapper {
	position: relative;
	height: 100%;
}

#content_container{
	position: relative;
	width: 760px;
	margin: 0 auto; 
	background-color: #C9E6FF;
}

#header_container {

}

#view-container {
	position: relative;
	height: 100%;
}

.dropdown {
	position: absolute;
	left: 620px;
	top: 15px;
}

/*---------------------TimelineView---------------------*/
ul.timeline {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

ul.timeline li {

}

/*---------------------TimelineMonthView---------------------*/
.timeline-month {
	position: relative;
	width: 760px;
	height: 100%;
}

.month-number {
	position: relative;
	font-size: 2em;
	left: 10px;
	top: 5px;
	width: 200px;
}

.timeline-items {
	position: relative;
	top: 15px;
}

/*---------------------TimelineItemView---------------------*/
.timelineitem-container {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 760px;
	height: 150px;
	background-color: #e0effa;
}

.dateNumber {
	position: absolute;
	text-align: right;
	font-size: 3em;
	top: 55px;
	left: 15px;
}

.dateSlate {
	position: absolute;
	left: 75px;
	width: 20px;
	height: 150px;
	background-color: orange;

}

.dateName {
	position: absolute;
	font-size: 1em;
	left: 5px;
	top: 50px;
}

.eventInfos {
	position: absolute;
	left: 0px;
	height: 150px;
	width: 800px;
}

ul.timeline-items {
	list-style: none; 
}
ul.timeline-items li {
	margin-left: 0px;
}

/*---------------------TimelineEventView---------------------*/

ul.eventInfos {
	list-style: none;
	margin-left: 0px;
}
ul.eventInfos li {
	margin-left: 15px;
	display: block;
	width: 180px;
	height: 150px;
	float: left;
}

.timelineevent-container {
	border: 1px red dotted;
}

.thumbnails {
	position: absolute;
}

.info-overlay {
	position: absolute;
	top: 80px;
	height: 70px;
	width: 180px;
	background-color: #FFF;
	opacity: 0.6;
}
