/*============fbCalendar Stylesheet=========== */
html, body { 
	font-family:arial; 
	font-size:13px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;

	/*Disable Drag Selection!*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

#wrapper {
	position: relative;
	height: 100%;
	text-align: center;
}

#ajax-loader {
}

#content_container{
	position: relative;
	width: 760px;
	margin: 0 auto; 
	/*background-color: #C9E6FF;*/
}

#header_container {

}

#view-container {
	position: relative;
	height: 100%;
}

.dropdown {
	position: absolute;
	left: 620px;
	top: 15px;
}

/*---------------------TimelineView---------------------*/
ul.timeline {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

ul.timeline li {

}

/*---------------------TimelineMonthView---------------------*/
.timeline-month {
	position: relative;
	width: 760px;
	height: 100%;
}

.month-number {
	position: relative;
	font-size: 2em;
	left: 10px;
	top: 5px;
	width: 200px;
}

.timeline-items {
	position: relative;
	top: 15px;
}

/*---------------------TimelineItemView---------------------*/
.timelineitem-container {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 760px;
	height: 150px;
	display: none;
	/*background-color: #e0effa;*/
}

.dateNumber {
	position: absolute;
	text-align: right;
	font-size: 3em;
	top: 55px;
	left: 10px;
	width: 50px;
	text-align: center;
}

.dateSlate {
	position: absolute;
	left: 75px;
	width: 20px;
	height: 150px;
	background-color: orange;
    box-shadow:  1px 2px 5px 2px #666;
	-webkit-box-shadow:  1px 2px 5px 2px #666;
	border: 1px black solid;
}

.dateName {
	position: absolute;
	font-size: 1em;
	left: 5px;
	top: 50px;
}

.carousel-container {
	position: absolute;
	left: 60px;
	height: 160px;
	width: 585px;
	overflow: hidden;
}

.eventInfos {
	width: 5000px;
	position: absolute;
}

ul.timeline-items {
	list-style: none; 
}
ul.timeline-items li {
	margin-left: 0px;
}

.arrow-left {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #AAA;
	position: absolute;
	top: 65px;
	left: 35px;
	cursor: pointer; 
	cursor: hand;
}

.arrow-right {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #AAA;
	position: absolute;
	top: 65px;
	left: 650px;
	cursor: pointer; 
	cursor: hand;
}

/*---------------------TimelineEventView---------------------*/

ul.eventInfos {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.eventInfos li {
	margin-right: 15px;
	display: block;
	width: 180px;
	height: 150px;
	float: left;
}

.timelineevent-container {
	box-shadow:  1px 2px 5px 2px #666;
	-webkit-box-shadow:  1px 2px 5px 2px #666;
	border: 1px black solid;
	background-color: #e0effa;
	cursor: pointer; 
	cursor: hand;
}

.thumbnail {
	/*background-image: url(../img/test.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 180px;
	height: 150px;
}

.info-overlay {
	position: absolute;
	top: 100px;
	font-weight: bold;
	background-color: #FFF;
	opacity: 0.7;
	width: 170px;
	height: 40px;
	padding: 5px;
}