<div class="modal hide fade" id="details-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3><%= eventName %></h3>
	</div>
	<div class="modal-body">
		<div class='event-img-large-default'></div>
		<div class='event-img-large'></div>
		<div class='event-desc'>
			<p><%= venueName %></p>
			<p><%= eventTime %></p>
			<a href="#" class="btn btn-primary btn-custom1" target="_blank">Find Tickets</a>
			<div class='ticket-info'>
				<span style="color:#AAA"><%= minPrice %></span><br/>
				<span style="color:#AAA"><%= totalTickets %></span>
			</div>
			<div class='divider'></div>
			<p>Are you going?</p>
			<a href="#" class="btn btn-primary inline rsvp-attending">Attending</a>
			<a href="#" class="btn btn-primary inline rsvp-maybe">Maybe</a> | 
			<a href="#" class="inline remove-event">Remove Event</a>
		</div>

		<div class='event-func'>
			<div class='event-post'></div>
			<div class='event-invite'></div>
			<div class='event-fbpage'>
				<a class='event-fbpage-link' href="#" target="_blank"></a>
			</div>
		</div>

		<div class='event-facepile'>
			<div class='facepile-mask'>
				<div class='facepile-container'>
					<ul class='faces'></ul>
				</div>
			</div>
		</div>

		<span class='facepile-arrows right'>&rsaquo;</span>
		<span class='facepile-arrows left'>&lsaquo;</span>
	</div>
<!-- 	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div> -->
</div>